<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ct_header">
                    <div class="ct_logo">
                        <a href="index.html">
                            <img src="assets/img/logo.png" alt="">
                        </a>
                    </div>
                    <div>
                        <button type="button" class="ct_white_btn" data-bs-toggle="modal"
                            data-bs-target="#ct_login_modal">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="ct_py_100 ct_banner_main">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 mb-4 mb-lg-0" data-aos="zoom-in-down" data-aos-duration="1500">
                <div class="ct_banner_title">
                    <h2 class="ct_ff_Electrolize ct_fs_60 ct_fw_500 ct_blue_text">Track Your Team. <br> Your Stats. Your
                        Way.</h2>
                    <h5 class="mt-4 ct_fs_22 ct_text_262626">Customizable stats dashboards with real-time refresh and
                        full access. Built for serious fans.</h5>
                    <div class="mt-5">
                        <button class="ct_blue_btn">Get Started</button>

                    </div>
                </div>
            </div>
            <div class="col-lg-5 mb-4 mb-lg-0" data-aos="zoom-in-down" data-aos-duration="1500">
                <div class="ct_banner_right_img">
                    <img src="assets/img/player.png" alt="">
                </div>
            </div>

        </div>

    </div>
</section>


<section class="ct_blue_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="ct_fs_40 text-center ct_ff_Electrolize text-white mb-3">Smarter Stats. Cleaner Experience.
                </h2>
                <p class="ct_fs_18 text-white">Tailor your dashboard, refresh stats instantly, <br> and follow any team
                    — all in one place.</p>
            </div>
        </div>

        <div class="row mt-5 pt-5">
            <div class="col-md-4 mb-5 mb-md-0">
                <figure class="mb-0 ct_transparent_card">
                    <div class="ct_circle_icon">
                        <img src="assets/img/wranch.svg" alt="">
                    </div>
                    <figcaption>
                        <h4 class="ct_fs_22 text-white mb-3">Custom Columns</h4>
                        <p class="mb-0 text-white">Choose up to 5 personalized stat columns to track what matters to
                            you.</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4 mb-5 mb-md-0">
                <figure class="mb-0 ct_transparent_card">
                    <div class="ct_circle_icon">
                        <img src="assets/img/refresh_icon.svg" alt="">
                    </div>
                    <figcaption>
                        <h4 class="ct_fs_22 text-white mb-3">Manual & Auto Refresh</h4>
                        <p class="mb-0 text-white">Refresh stats anytime, or let it update automatically in the
                            background.</p>
                    </figcaption>
                </figure>

            </div>
            <div class="col-md-4 mb-5 mb-md-0">
                <figure class="mb-0 ct_transparent_card">
                    <div class="ct_circle_icon">
                        <img src="assets/img/oui_stats.svg" alt="">
                    </div>
                    <figcaption>
                        <h4 class="ct_fs_22 text-white mb-3"> Dynamic Team Stats</h4>
                        <p class="mb-0 text-white">Instantly view any team’s performance — no need to switch pages.</p>
                    </figcaption>
                </figure>

            </div>
        </div>

    </div>
</section>


<section class="ct_feature_bg ct_py_100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 mb-4 mb-xl-0">
                <div>
                    <h2 class="ct_fs_40 ct_blue_text mb-3 ct_ff_Electrolize">All Features. One <br> Subscription.</h2>
                    <p class="ct_fs_18">Access every feature without limitations — custom columns, live stats, team
                        switching, and more. Pay monthly or yearly, and cancel anytime with no hidden fees.</p>
                </div>
            </div>
            <div class="col-xl-7 mb-4 mb-xl-0">
                <div class="row">
                    <div class="col-md-6 mb-4 mb-md-0">
                        <div class="ct_price_card active">
                            <span class="d-inline-block text-center text-white pb-2">save 17%</span>
                            <div class="ct_inner_white">
                                <div>
                                    <h4 class="ct_fs_20 ct_fw_700 mb-3">Yearly</h4>
                                    <h2 class="ct_fs_28 ct_fw_700"> $99.99</h2>
                                    <ul class="mt-4">
                                        <li><img src="assets/img/Padding_Correction.svg" alt=""><span>Unlimited team
                                                stats & switching</span></li>
                                        <li><img src="assets/img/Padding_Correction.svg" alt=""><span>5 customizable
                                                stat columns</span></li>
                                        <li><img src="assets/img/Padding_Correction.svg" alt=""><span>Manual + Auto stat
                                                refresh</span></li>
                                        <li><img src="assets/img/Padding_Correction.svg" alt=""><span>Desktop-first
                                                interface</span></li>
                                        <li><img src="assets/img/Padding_Correction.svg" alt=""><span>Stripe secure
                                                billing</span></li>
                                    </ul>
                                </div>
                                <div class="mt-auto pt-5">
                                    <button class="ct_blue_btn ct_border_radius_100 w-100">Select plan</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4 mb-md-0">
                        <div class="ct_price_card">
                            <div>
                                <h4 class="ct_fs_20 ct_fw_700 mb-3">Monthly</h4>
                                <h2 class="ct_fs_28 ct_fw_700"> $9.99</h2>
                                <ul class="mt-4">
                                    <li><img src="assets/img/Padding_Correction.svg" alt=""><span>Unlimited team stats &
                                            switching</span></li>
                                    <li><img src="assets/img/Padding_Correction.svg" alt=""><span>5 customizable stat
                                            columns</span></li>
                                    <li><img src="assets/img/Padding_Correction.svg" alt=""><span>Manual + Auto stat
                                            refresh</span></li>
                                    <li><img src="assets/img/Padding_Correction.svg" alt=""><span>Desktop-first
                                            interface</span></li>
                                    <li><img src="assets/img/Padding_Correction.svg" alt=""><span>Stripe secure
                                            billing</span></li>
                                </ul>
                            </div>
                            <div class="mt-auto pt-5">
                                <button class="ct_blue_btn ct_border_radius_100 w-100">Select plan</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ct_inner_footer">
                    <div class="ct_footer_left">
                        <a href="index.html" class="ct_footer_logo">
                            <img src="assets/img/logo.png" alt="">
                        </a>

                        <ul class="ct_footer_social_links">
                            <li>
                                <a href="#">
                                    <i class="fa-brands fa-square-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa-brands fa-youtube"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                            </li>
                        </ul>

                    </div>
                    <div class="text-sm-end text-center">
                        <p class="mb-2 text-white ct_text_op_6">© 2025 ThunderHawks</p>
                        <p class="mb-0 text-white ct_text_op_6">Privacy Policy</p>
                    </div>
                </div>

            </div>

        </div>

    </div>
</footer>

<!-- <div class="ct_loader_main">
    <div class="jump">
        <div class="basket-ball spin">
            <div class="line2"></div>
            <div class="line1"></div>
        </div>
    </div>
</div> -->


<!-- All Modal S -->
<!-- Login -->
<div class="modal fade ct_modal_login" id="ct_login_modal" tabindex="-1" aria-labelledby="ct_login_modalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- <div class="modal-header border-0 py-0">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div> -->
            <div class="modal-body">
                <div class="ct_logo mx-auto mb-4 text-center">
                    <img src="assets/img/logo.png" alt="" class="mx-auto">
                </div>
                <form [formGroup]="loginForm">
                    <div class="form-group mb-4">
                        <label for="" class="mb-2  text-white">Email Address</label>
                        <div class="position-relative">
                            <input type="email" class="form-control ct_input ct_input_ps_40"
                                placeholder="Enter email address">
                            <img src="assets/img/mail_icon_x.svg" alt="" class="ct_icon_left">
                        </div>
                    </div>
                    <div class="form-group mb-2">
                        <label for="" class="mb-2  text-white">Password</label>
                        <div class="position-relative">
                            <input type="password" class="form-control ct_input ct_input_ps_40 ct_input_pe_40"
                                placeholder="Enter password">
                            <img src="assets/img/lock_icon_x.svg" alt="" class="ct_icon_left">
                            <i class="ct_show_eye fa-regular fa-eye-slash"></i>
                        </div>
                    </div>
                    <div class="text-end">
                        <a href="javascript:void(0)" class="ct_forgot_link ct_fw_600" data-bs-toggle="modal"
                            data-bs-target="#ct_forget_password_modal">Forgot Password?</a>
                    </div>

                    <div class="mt-4">
                        <button class="ct_blue_btn w-100" (click)="login()" type="submit">Login </button>
                    </div>
                    <p class="mb-0 text-white text-center pt-4">or continue with</p>
                    <ul class="ct_login_option_list">
                        <li>
                            <a href="#">
                                <img src="assets/img/google_icon.svg" alt="">
                            </a>
                        </li>
                        <!-- <li>
                        <a href="#">
                            <img src="assets/img/apple_icon.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="assets/img/facebook_icon_1.svg" alt="">
                        </a>
                    </li> -->
                    </ul>
                    <p class="text-center mt-3">Don’t have an account? <a href="javascript:void(0)"
                            class="ct_blue_clr ct_fw_600" data-bs-toggle="modal" data-bs-target="#ct_signup_modal">Sign
                            Up</a></p>
                    <button hidden type="button" class="btn btn-secondary" #closeModal
                        data-bs-dismiss="modal">Close</button>
                </form>
            </div>

        </div>
    </div>
</div>


<!-- Signup -->
<div class="modal fade ct_modal_login" id="ct_signup_modal" tabindex="-1" aria-labelledby="ct_signup_modalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- <div class="modal-header border-0 py-0">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div> -->
            <div class="modal-body">
                <div class="ct_logo mx-auto mb-4 text-center">
                    <img src="assets/img/logo.png" alt="" class="mx-auto">
                </div>
                <form>
                    <div class="form-group mb-4">
                        <label for="" class="mb-2  text-white">Full Name</label>
                        <div class="position-relative">
                            <input type="text" class="form-control ct_input ct_input_ps_40"
                                placeholder="Enter full name">
                            <img src="assets/img/uil_user.svg" alt="" class="ct_icon_left">
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <label for="" class="mb-2  text-white">Email Address</label>
                        <div class="position-relative">
                            <input type="email" class="form-control ct_input ct_input_ps_40"
                                placeholder="Enter email address">
                            <img src="assets/img/mail_icon_x.svg" alt="" class="ct_icon_left">
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <label for="" class="mb-2  text-white">Create Password</label>
                        <div class="position-relative">
                            <input type="password" class="form-control ct_input ct_input_ps_40 ct_input_pe_40"
                                placeholder="Enter password">
                            <img src="assets/img/lock_icon_x.svg" alt="" class="ct_icon_left">
                            <i class="ct_show_eye fa-regular fa-eye-slash"></i>

                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <label for="" class="mb-2  text-white">Confirm Password</label>
                        <div class="position-relative">
                            <input type="password" class="form-control ct_input ct_input_ps_40 ct_input_pe_40"
                                placeholder="Enter password">
                            <img src="assets/img/lock_icon_x.svg" alt="" class="ct_icon_left">

                            <i class="ct_show_eye fa-regular fa-eye-slash"></i>
                        </div>
                    </div>


                    <div class="mt-4">
                        <button class="ct_blue_btn w-100">SIGN UP </button>
                    </div>
                    <p class="mb-0 text-white text-center pt-4">or continue with</p>
                    <ul class="ct_login_option_list">
                        <li>
                            <a href="#">
                                <img src="assets/img/google_icon.svg" alt="">
                            </a>
                        </li>
                        <!-- <li>
                            <a href="#">
                                <img src="assets/img/apple_icon.svg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/img/facebook_icon_1.svg" alt="">
                            </a>
                        </li> -->
                    </ul>
                    <p class="text-center mt-3">Already have an account? <a href="javascript:void(0)"
                            class="ct_blue_clr ct_fw_600" data-bs-toggle="modal" data-bs-target="#ct_login_modal">Log
                            In</a></p>
                </form>
            </div>

        </div>
    </div>
</div>